/* Our CSS file. */

.container,
.content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-container-1 {
  display: block;
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;

  display: flex;
  justify-content: center;
  margin: 10px;
}
.main-container-2 {
  display: block;
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
  justify-items: center;
  margin: 10px;
}
.sub-container-1 {
  background-color: rgb(82, 104, 231);
  width: 500px;
  height: 480px;
  display: inline-block;
}
.sub-container-2 {
  width: 500px;
  height: 480px;
  display: inline-block;
}
.sub-container-3 {
  background-color: rgb(83, 104, 211);
  width: 500px;
  height: 240px;
  margin-left: 400px;
}
.sub-container-4 {
  width: 500px;
  height: 240px;
  margin-left: 400px;
}
iframe {
  width: 500px;
  height: 480px;
  display: inline-block;
}
.sub-container-4-iframe {
  width: 500px;
  height: 240px;
}
p h1 button {
  margin-top: 50px;
}
