* {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  background: white;
}
.main_container {
  display: flex;
}
.buttons-container {
  display: block;
  width: 80%;
  position: relative;
  margin-left: 50px;
  padding: 0;
  height: 25vh;
  margin-top: 10px;
  border: 3px white solid;
  border-radius: 15px;
  background: white;
}
#character_count_button {
  position: absolute;
  width: 50%;
  height: 100%;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  background: rgb(180, 11, 202);
  color: white;
  border-radius: 10px;
}
#Thread_count_button {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  background: rgb(180, 11, 202);
  color: white;
  border-radius: 10px;
}
.text_container {
  background: red;
  width: 80%;
  margin-left: 50px;
  height: 45vh;
  position: relative;
  border-radius: 20px;
}
#text_box {
  position: absolute;
  width: 100%;
  height: 45vh;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: large;
  color: black;
  resize: none;
}
.thread_button {
  position: relative;
  display: block;
  height: 10vh;
  width: 80%;
  margin-left: 50px;
  margin-top: 10px;
}
#thread_submission_button {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  display: block;
  height: 10vh;
  width: 100%;
  margin-left: 0;
  border-radius: 20px;
  background: white;
  color: rgb(180, 11, 202);
}
#thread_submission_button:hover {
  cursor: pointer;
  background: rgb(180, 11, 202);
  color: white;
}
.right_container {
  width: 40%;
  height: auto;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  flex: 1;
  border: rgb(180, 11, 202) 10px solid;
  overflow: scroll;
  border-radius: 10px;
  background: rgb(66, 2, 75);
}
.left_container {
  flex: 1;
  border: white 5px solid;
  border-radius: 25px;
  height: auto;
  background: rgb(180, 11, 202);
}

#thread_number {
  width: 95%;
  background: rgb(180, 11, 202);
  color: white;
  font-weight: bold;
  height: 5vh;
  margin-top: 55px;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border: 1px white solid;
}

.each_thread_box {
  display: block;
  background: red;
  height: 128.75px;
  width: 100%;
  margin-top: 25px;
  padding: 0;
  border: 10px rgb(180, 11, 202) solid;
}
.sample {
  resize: none;
  width: 100%;
  height: 15vh;
}
#thread_close_button {
  height: 6vh;
  width: auto;
  background: rgb(180, 11, 202);
  color: white;
  text-align: center;
  margin: auto;
  margin-left: 20px;
  border-radius: 15px;
  font-size: larger;
}
#thread_close_button:hover {
  background: white;
  color: rgb(180, 11, 202);
  cursor: pointer;
}
#all_threads_here_heading {
  text-align: center;
  display: block;
  width: 50%;
  height: 10vh;
  background: white;
  color: rgb(180, 11, 202);
  margin: auto;
  border-radius: 25px;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-size: x-large;
}
#sample {
  position: absolute;
  display: block;
  color: black;
  width: 583.65px;
  height: 100px;
  font-size: large;
  resize: none;
  font-family: sans-serif;
  font-weight: bolder;
}
.empty_box {
  background: rgb(66, 2, 75);
}
#textarea_box_left {
  position: relative;
  background: red;
  width: 90%;
  height: 100px;
  margin: auto;
  margin-left: 20px;
  margin-top: 5px;
}
